/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../scss/shopping.scss */
#body {
  max-width: 100%;
  max-height: 100%;
  padding: 30px 0;
  background: RGBA(239, 233, 231, 1);
}
/* line 19, ../scss/shopping.scss */
#body div {
  display: inline-block;
  height: 100%;
}
/* line 24, ../scss/shopping.scss */
#body #body_menu {
  position: absolute;
  width: calc(100%/5);
  margin-left: 30px;
}
/* line 28, ../scss/shopping.scss */
#body #body_menu img {
  max-width: 10%;
  display: inline-block;
}
/* line 32, ../scss/shopping.scss */
#body #body_menu p {
  color: RGBA(70, 28, 13, 1);
  display: inline-block;
}
/* line 36, ../scss/shopping.scss */
#body #body_menu ul {
  padding: 10px 0;
}
/* line 38, ../scss/shopping.scss */
#body #body_menu ul li {
  padding: 10px 0;
  border-bottom: solid 1px RGBA(70, 28, 13, 1);
}
/* line 41, ../scss/shopping.scss */
#body #body_menu ul li a {
  padding-left: 5px;
  color: RGBA(70, 28, 13, 1);
}
/* line 45, ../scss/shopping.scss */
#body #body_menu ul li:hover {
  transition: background 0.3s;
  background: RGBA(70, 28, 13, 1);
}
/* line 48, ../scss/shopping.scss */
#body #body_menu ul li:hover a {
  transition: color 0.3s;
  color: white;
}
/* line 56, ../scss/shopping.scss */
#body #body_itmes {
  width: calc(100%/2 * 1.4);
  margin: 0 10px 0 280px;
}
/* line 59, ../scss/shopping.scss */
#body #body_itmes #toolbar {
  height: 50px;
  width: 100%;
}
/* line 62, ../scss/shopping.scss */
#body #body_itmes #toolbar input[type="text"] {
  width: 400px;
  height: 25px;
  border: 1.5px solid RGBA(58, 13, 0, 1);
  background: RGBA(239, 233, 231, 1);
}
/* line 68, ../scss/shopping.scss */
#body #body_itmes #toolbar #search {
  position: absolute;
  width: 25px;
  background: RGBA(58, 13, 0, 1);
  margin: 0 -5px;
  cursor: pointer;
}
/* line 74, ../scss/shopping.scss */
#body #body_itmes #toolbar #search:hover {
  transition: background 0.3s;
  background: RGBA(239, 233, 231, 1);
}
/* line 79, ../scss/shopping.scss */
#body #body_itmes #toolbar #cart {
  line-height: 50px;
  position: absolute;
  padding-left: 10px;
  top: 420px;
  width: 40px;
  cursor: pointer;
}
/* line 86, ../scss/shopping.scss */
#body #body_itmes #toolbar #cart:hover {
  transition: width 0.3s;
  width: 50px;
}
/* line 91, ../scss/shopping.scss */
#body #body_itmes #toolbar p {
  display: inline-block;
  padding: 0 30px 0 150px;
  border-right: 1px solid RGBA(58, 13, 0, 1);
  cursor: pointer;
  color: RGBA(58, 13, 0, 1);
}
/* line 97, ../scss/shopping.scss */
#body #body_itmes #toolbar p:hover {
  transition: color 0.2s;
  color: red;
}
/* line 104, ../scss/shopping.scss */
#body #body_itmes #items .items {
  display: inline-block;
  width: 200px;
  height: 250px;
}
