/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../scss/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 13, ../scss/style.scss */
.wrap {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 18, ../scss/style.scss */
.header {
  position: relative;
  max-width: 100%;
  max-height: 400px;
  background: black;
  margin: 0 auto;
}
/* line 24, ../scss/style.scss */
.header img {
  max-width: 100%;
  max-height: 100%;
}
/* line 28, ../scss/style.scss */
.header .topbar {
  position: absolute;
  width: 100%;
  height: 52px;
  background: RGBA(6, 0, 0, 0.7);
}
/* line 34, ../scss/style.scss */
.header .logo {
  display: inline-block;
  color: white;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 50px;
}
/* line 41, ../scss/style.scss */
.header .slogan {
  text-align: center;
  position: absolute;
  width: 45%;
  height: 40%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: RGBA(6, 0, 0, 0.3);
  color: white;
}
/* line 53, ../scss/style.scss */
.header .slogan h1 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 30px;
}
/* line 58, ../scss/style.scss */
.header .slogan p {
  padding-bottom: 5px;
}
/* line 62, ../scss/style.scss */
.header ul {
  float: right;
}
/* line 64, ../scss/style.scss */
.header ul li {
  float: left;
  line-height: 52px;
  padding-top: 10px;
  padding-right: 40px;
}
/* line 69, ../scss/style.scss */
.header ul li a {
  color: RGBA(208, 207, 207, 1);
}
/* line 72, ../scss/style.scss */
.header ul li a:hover {
  color: white;
}

/* line 79, ../scss/style.scss */
.features {
  background: RGBA(239, 233, 231, 1);
  max-width: 100%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}
/* line 85, ../scss/style.scss */
.features span {
  float: left;
  width: 17.3333%;
  height: 20%;
  border-bottom: solid 2px RGBA(148, 149, 149, 1);
  padding-top: 50px;
  line-height: 35px;
  text-align: center;
}
/* line 94, ../scss/style.scss */
.features .title {
  width: 33.3333%;
  height: 100%;
}
/* line 99, ../scss/style.scss */
.features h2 {
  margin-top: 10px;
  line-height: 35px;
  font-size: 25px;
}

/* line 106, ../scss/style.scss */
.chef {
  background: green;
  max-width: 100%;
  height: 300px;
}

/* line 111, ../scss/style.scss */
.info {
  background: blue;
  max-width: 100%;
  height: 300px;
}

/* line 116, ../scss/style.scss */
.footer {
  background: pink;
  max-width: 100%;
  height: 300px;
}
