@import "compass/reset";

@mixin clearfix {
    &:after, &:before {
      content: "";
      display: table;
    }
    &:after{
      clear:both;
    }
    *zoom:1;
  }

  #body{
    max-width: 100%;
    max-height: 100%;
    padding: 30px 0;
    background: RGBA(239, 233, 231, 1.00);
    div{
        display: inline-block;
        // border: solid 1px black;  
        height: 100%;        
    }
    #body_menu{
        position: absolute;
        width: calc(100%/5); 
        margin-left: 30px;
        img{
            max-width: 10%;
            display: inline-block;
        }    
        p{ 
            color: RGBA(70, 28, 13, 1.00);
            display: inline-block;
        }   
        ul{
            padding: 10px 0;
            li{
                padding: 10px 0;
                border-bottom: solid 1px RGBA(70, 28, 13, 1.00);  
                a{
                    padding-left: 5px;
                    color: RGBA(70, 28, 13, 1.00);
                } 
                &:hover{
                    transition: background 0.3s;           
                    background: RGBA(70, 28, 13, 1.00);  
                    a{
                        transition: color 0.3s;           
                        color: white;  
                    }
                }
            }
        }
    }
    #body_itmes{
        width: calc(100%/2 * 1.4);  
        margin: 0 10px 0 280px;  
        #toolbar{
            height: 50px;
            width: 100%;
            input[type="text"]{
                width: 400px;
                height: 25px;
                border: 1.5px solid RGBA(58, 13, 0, 1.00);
                background: RGBA(239, 233, 231, 1.00);   
            }       
            #search{
                position: absolute;
                width: 25px;
                background: RGBA(58, 13, 0, 1.00);
                margin: 0 -7px;
            }
            #cart{
                line-height: 50px;
                position: absolute; 
                padding-left: 10px;  
                top: 420px;
                width: 50px;                
            }
            p{
                display: inline-block;
                padding: 0 30px 0 150px;
                border-right: 1px solid RGBA(58, 13, 0, 1.00);
            }         
        }
        #items{
            .items{
                display: inline-block;
                width: 200px;
                height: 250px;
            }
        }    
    }
  }