@import "compass/reset";

@mixin clearfix {
  &:after, &:before {
    content: "";
    display: table;
  }
  &:after{
    clear:both;
  }
  *zoom:1;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a{
    text-decoration: none;    
}

.wrap{
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.header{
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 400px;
    background: black;
    margin: 0 auto;
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .topbar{
        position: absolute;
        width: 100%;
        max-height: 52px;
        background: RGBA(6, 0, 0, 0.7);
    }
    .logo{
        display: inline-block;                
        color: white;
        font-size: 25px;
        padding-top: 10px;
        padding-left: 50px;
    }
    .slogan{
        text-align: center;        
        position: absolute;
        width: 45%;
        max-height: 40%;
        top:0;
        right:0;
        bottom:0;
        left:0;
        margin:auto;
        background: RGBA(6, 0, 0, 0.3);
        color: white;
        h1{
            padding-top: 30px;
            padding-bottom: 10px;
            font-size: 30px;
        }
        p{
            padding-bottom: 5px;
        }
        .fork{
            display: inline-block;
            max-width: 100%;
        }
    }
    ul{
        float:right;
        li{
            float:left;
            line-height: 52px;
            padding-top: 10px;
            padding-right: 40px;
            a{              
                color: RGBA(208, 207, 207, 1.00);   
                &:hover{
                    transition: color 0.4s;
                    color: white;
                }             
            }
        }
    }
}

@media(max-width: 767px){
.header{
    .slogan{
            p{
               display: none;
            }
            h1{
                font-size: 28px;
            }
        }
    }
}

@media(max-width: 500px){
    .header{
        .slogan{
            display: none;
        }
        .logo{
            padding-left: 5px;            
        }
        ul{
            display: none;
            overflow: hidden;
        }
    }
}


.features{
    display: block;
    background: RGBA(239, 233, 231, 1.00);
    max-width: 1000px;
    width: 100%;
    // height: 560px;
    padding: 10px 0;
    text-align: center;
    .outside{
        max-width: 100%;
        display: block;
    }
    .border{
        display: inline-block;
        width: 17.3333%;  
        border-bottom: solid 1px RGBA(148, 149, 149, 1.00);   
        text-align: center;    
        margin-bottom: 30px;
    }
    .title{
        width: 24.3333%;  
        border: solid 0px red;   
        height: 30%;   
        padding-top: 50px;  
        margin-bottom: 0;                           
    }
    h2{
        line-height: 40px;
        font-size: 23px;
        color: RGBA(77, 36, 23, 1.00);
    }
    #pics{
            display: inline-block;
            max-width: 100%;
            width: 100%;
            padding: 20px 0;
    }
    .pics{
            display: inline-block;                
            max-width: calc(100%/3);  
            // border: solid 1px red;                                 
            margin: 0 50px;  
            font-size: 18px;
            color: RGBA(98, 62, 49, 1.00);
            img{               
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                padding-bottom: 10px;
            }
        }
        @include clearfix;
    .point{        
        max-width: calc(100%/3);    
        padding: 0 4%;     
        float: left;
        color: RGBA(98, 62, 49, 1.00);  
        text-align: left;              
        margin-bottom: 50px;
    }
}

.chef{
    background: RGBA(61, 17, 1, 1.00);
    max-width: 100%;
    // height: 300px; 
    .pic{
        display: inline-block;        
        max-width: 50%;        
        img{
            margin-left: 40px;            
        }
    }
    .text{
        color: RGBA(239, 233, 231, 1.00);
        float: right;
        max-width: 50%;                
        padding: 100px 40px;
        h3{
            padding: 5px 0;
        }
        div{
            font-size: 16px;
            padding-bottom: 30px;
        }
        p{
            font-size: 14px;
            line-height: 20px;
        }
    }  
}
.listen{
    background-color: RGBA(239, 233, 231, 1.00);
    max-width: 100%;
    width: 100%;  
    text-align: center;        
    h3{
        color: RGBA(66, 23, 7, 1.00);
        font-size: 22px;
        text-align: center;    
        padding: 50px 0;    
    }
    .pics{
        display: inline-block;
        width: calc(93%/3);
        max-width: 100%;
        color: RGBA(112, 80, 68, 1.00);    
        position: relative;   
        text-align: left;
        padding-left: 30px;
        img{
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
        p{
            position: absolute;
            display: inline-block;  
            line-height: 67px; 
            padding-left: 15px;
        }
    }
    @include clearfix;
    .text{
        max-width: calc(93%/3);
        // display: inline-block;
        padding: 0 5%;
        margin: 10px 0;
        float: right;
        line-height: 25px;
        color: RGBA(132, 104, 94, 1.00);
        p{
            color: RGBA(173, 152, 145, 1.00);
            margin: 15px 0 30px 0;
            text-align: right;
        }
    }
}
.location{
    text-align: center;
    background: RGBA(246, 244, 243, 1.00);
    max-width: 1000px;
    width: 100%;
    padding: 50px 0; 
    h3{
        font-size: 20px;
        color: RGBA(61, 17, 5, 1.00);
        line-height: 28px;
        text-align: center;
        letter-spacing: 2px;
        padding-bottom: 20px;
    }
    span{
        max-width: calc(98%/2);
        display: inline-block;
        @include clearfix;                
    }
    img{
        max-width: 100%;
        padding-left: 30px;
        padding-right: 10px;
    }
    .form{
        width: 90%;        
        text-align: left;
        float: right;
        color: RGBA(108, 77, 66, 1.00);        
        p{
            padding: 10px 0;
            font-size: 14px;
        }
        input[type="text"]{
            display: block;
            width: 90%;
            height: 25px;
            border: 1px solid RGBA(206, 206, 206, 1.00);            
            border-radius: 5px;
        }    
        input[type="submit"]{
            // float: right;
            width: 70px;
            height: 35px;
            cursor:pointer;
            margin-right: 10px;
            margin-top: 40px;
            color: white;
            border: none;
            border-radius: 5px;            
        }
        input[type="radio"]{
            margin-right: 20px;
        }
        .orange{
            background-color: RGBA(245, 108, 35, .500);
            margin-right: 50px;   
            &:hover{
                transition: background-color 1s;                
                background-color: RGBA(245, 108, 35, 1.00);                
            }         
        }
        .gray{
            background-color: RGBA(160, 158, 158, .500);
            &:hover{
                transition: background-color 1s;
                background-color: RGBA(160, 158, 158, 1.00);                
            }
        }
        div{
            width: 90%;
            text-align: right;
        }
    }
}
.footer{
    background: RGBA(239, 233, 231, 1.00);
    max-width: 100%;
    margin-bottom: 20px;
    @include clearfix;   
    span{
        color: RGBA(72, 31, 15, 1.00);                         
        display: inline-block;
        padding: 20px 10px;
    }
    #about{
        float: left;
        width: 30%;
        padding-left: 30px;
        h3{
            padding: 20px 0;
            font-size: 23px;
        }
    }
    #contact{
        float: left;
        width: 17%;
        h3{
            padding: 20px 0;
            font-size: 23px;
        }
        line-height: 23px;
        li{
            list-style: disc;
        }
    }
    #f_logo{
        float: right;
        width: 30%;
        font-size: 50px;
        text-align: right;
        padding-right: 50px;
        padding-top: 50px;
        h2{
            font-weight: 900;
        }
        .f_logo{
            display: inline-block;
            max-width: 100%;  
        }
        #facebook,#twitter,#google{
            // display: inline-block;            
            width: 30px;
            cursor:pointer;
            border: solid 1px RGBA(239, 233, 231, 1.00);            
            &:hover{
                border: none;                
            }         
        }
    }
}